---
import LibraryIcon from "@/icons/Library.astro"
import HomeIcon from "@/icons/Home.astro"
import SearchIcon from "@/icons/Search.astro"
import SideMenuItem from "./SideMenuItem.astro"
import SideMenuCard from "./SideMenuCard.astro"
import ListItemList from "./SideMenuItemList"
import {db, Albumns, Users, and, eq, AlbumnBiblioteca, inArray} from 'astro:db';
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
const userId = await db.select({id : Users.id}).from(Users).where(and(eq(Users.name, session?.user.name), eq(Users.email, session?.user.email)))
const albumnId = await db.select({albumnId : AlbumnBiblioteca.albumnId}).from(AlbumnBiblioteca).where(eq(AlbumnBiblioteca.userId, userId[0].id))
let Albumn;

if(albumnId.length > 0) {
  Albumn = await db.select().from(Albumns).where(inArray(Albumns.id, albumnId.map(item => item.albumnId)));
}
else{
  Albumn = await db.select().from(Albumns).limit(7);
}

---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
         Inicio
      </SideMenuItem>

      <SideMenuItem href="/search/search-state">
        <SearchIcon />
         Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="/">
        <LibraryIcon />
         Tu biblioteca
      </SideMenuItem>
      <ListItemList albums={Albumn} session ={session} client:load/>
    </ul>
  </div>
</nav>
