---
import LibraryIcon from "@/icons/Library.astro"
import HomeIcon from "@/icons/Home.astro"
import SearchIcon from "@/icons/Search.astro"
import SideMenuItem from "./SideMenuItem.astro"
import SideMenuCard from "./SideMenuCard.astro"
import {db, Albumns} from 'astro:db';
const Albumn = await db.select().from(Albumns);

import { playlists } from "@/lib/data"
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
         Inicio
      </SideMenuItem>

      <SideMenuItem href="/search/search-state">
        <SearchIcon />
         Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="/">
        <LibraryIcon />
         Tu biblioteca
      </SideMenuItem>
      {Albumn.map((Album) => <SideMenuCard AlbumData={Album} />)}
    </ul>
  </div>
</nav>
